:root
{
    --color1: #f2f2f2;
    --color2: #0065fc;
	--color3: #DEEBFF;
	--radius: 20px;
}
body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}
#container {
	width: 100%;
}
.menu a:visited, .column_footer a:visited, .lodging a:visited {
	color: black;
}
.signup a:visited {
	color: var(--color2);
}
/*En-tête*/
header {
	display: flex;
	justify-content: space-between;
}
#logo {
	width: 100px;
	padding: 35px 0 0 50px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
	display: flex;
}
nav li, nav a {
	list-style: none;
}
.menu a {
	padding: 37px 34px 0 34px;
	text-decoration: none;
}
.menu a:hover {
	color:  var(--color2);
	border-top: solid 2px var(--color2);
}
.signup {
	color: var(--color2);
	font-weight: bold;
	padding: 37px 20px 0 20px;
	text-decoration: none;
	margin-right: 58px;
}
.black_link a:hover {
	color: var(--color3);
	border-top: solid 2px var(--color3) ;
}
/*section recherche*/
#search_section {
	padding: 50px;
}
.search_city {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}
#search_title {
	font-size: 21px;
	line-height: 4px;
}
#mapmarker {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	border-radius: 15px 0 0 15px;
	background-color: var(--color1)
}
#search {
	width:230px;
	height: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 16px;
	border: solid 1px var(--color1);
	padding-left: 15px;
}
::placeholder {
	color: black;
}
#search:focus {
	border-color:var(--color2);
	outline: var(--color2);
}
.button {
	width: 135px;
	height: 50px;
	background-color: var(--color2);
	border-radius: 0 15px 15px 0;
	color: var(--color1);
	border: none;
	font-family: 'Raleway', sans-serif;
	font-size:16px
}
/*filtres de recherche*/
.filters {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px;
}
.filters form {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.filters label {
	display: flex;
	flex-direction: row;
	border: solid 2px;
	border-radius: 50px;
	border-color: var(--color1);
	height: 50px;
	cursor: pointer;
}
.filter_icon {
	color: var(--color2);
	border-radius: 50px;
    font-size: 16px;
    width: 50px;
	padding: 17px 0 17px 0;
	text-align:center;
	background-color: var(--color3);
	z-index: auto;
}
.filter_name {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: bolder;
	padding: 10px 20px 10px 15px;
	z-index: auto;
}
.filters input[type="checkbox"] {
	display: flex;
	position: relative;
	left: 50px;
	height: 50px;
	width: 50px;
	z-index: 1;
	opacity: 0.1;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
}
.filters input[type="checkbox"]:checked + label .filter_icon{
	color: var(--color3);
	border-color: var(--color3);
	background-color: var(--color2);
}
.filters input[type="checkbox"]:checked + label {
	color: var(--color2);
	border-color: var(--color3);
	background-color: var(--color3);
}
.filters label:hover  {
	border:0.1px solid var(--color2);
	background-color: var(--color3);
}
.info
{
    display: flex;
    align-items: center;
}
.info .fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    padding: 5px;
    color: var(--color2);
    font-size: .8rem;
    border: 1px solid var(--color1);
    border-radius: 15px;
}
main {
	margin: 0 50px 20px 50px;
}
/*section hébergements*/
.lodging {
	display:flex;
	flex-flow: column wrap;
	width: 878px;
	height: 627px;
	background-color: var(--color1);
	border-radius: 20px;
}
.lodging h2 {
	text-align: start;
	margin-left: 40px;
}
.lodging a {
	text-decoration: none;
}
.lodging_cards {
	display: flex;
	flex-flow: column wrap;
	height: 530px;
	width: 805px;
	margin: 0px 20px 0px 20px;
}
.lodging_card {
	width: 240px;
	height: 200px;
	border-radius: 20px 20px 20px 20px;
	border: solid 4px #FFFFFF;
	border-radius: var(--radius);
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
	margin:15px;
}
.lodging_card:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 10px rgb(177 177 177 / 20%);
	transition: 1s;
}
.img {
	width: 100%;
    height: 59%;
    -o-object-fit: cover;
    object-fit: cover;
	border-radius: var(--radius) var(--radius) 0 0;

}
.img_cannebière {
	background-image: url(images/hébergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.img_mer {
	background-image: url(images/hébergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.img_port {
	background-image: url(images/hébergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.img_panier {
	background-image: url(images/hébergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.img_mouette {
	background-image: url(images/hébergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.img_amina {
	background-image: url(images/hébergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.photo_info {
	margin-left: 10px;
}
.lodging h3, .lodging p {
	margin:5px 0 5px 0;
	color: black;
}
.lodging i {
	color: var(--color2);
	margin: 0;
	font-size: 14px;
}
.show_more {
	margin-left: 40px;
	font-weight: bolder;
}
/*Bas de page*/
footer {
	display:flex;
	flex-direction: row;
	height: 216px;
	background-color: var(--color1);
}
.column_footer a:hover {
	color: var(--color2);
}
footer ul {
	list-style: none;
	padding: 0;
}
.column_footer {
	padding: 30px 150px 0 50px;
}
.column_footer a {
	text-decoration: none;
}
.column_footer li {
	padding: 0 0 15px 0;
}
