* {
	margin: 0;
	padding: 0;
}

:root
{
    --lightgrey: #f2f2f2;
    --blue: #0065fc;
	--lightblue: #DEEBFF;
	--radius: 20px;
	--radius2: 20px 20px 0 0;
}

body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}

#container {
	width: 100%;
}

.menu a:visited, .column_footer a:visited, .lodging a:visited, .best_lodgings a:visited, .activities a:visited {
	color: black;
}

.signup a:visited {
	color: var(--blue);
}

.lodging_card:hover, .best_lodging_card:hover, .activity_card:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 10px rgb(177 177 177 / 20%);
	transition: 1s;
}

a {
	text-decoration: none;
}

h3 {
	font-size: 15px;
}

p, li, .filter_name {
	font-size: 14px;
}

.img {
	background-size: cover;
	background-position: center;
}
/****************************************************************************************/
/***************************************herder*******************************************/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#logo {
	width: 100px;
	padding: 35px 0 0 50px;
}

.nav_bar {
	display: flex;
	flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
	padding-top: 19px;
}

nav ul {
	display: flex;
}

nav li, nav a {
	list-style: none;
}

.menu a {
	padding: 40px 34px 0 34px;
}

.menu a:hover {
	color:  var(--blue);
	border-top: solid 2px var(--blue);
}

.signup {
	display: flex;
	color: var(--blue);
	font-weight: bold;
	padding: 40px 20px 0 25px;
	margin-right: 58px;
}

.lightblue_link a:hover {
	color: var(--lightblue);
	border-top: solid 2px var(--lightblue) ;
}
/****************************************************************************************/
/************************************section of search***********************************/
#search_section {
	padding: 50px 0px 30px 50px;
}

.search_city {
	display: flex;
	flex-direction: row;
	margin: 20px 0 30px 0;
}

#search_title {
	font-size: 20px;
	padding-bottom: 10px;
}

#mapmarker {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	border-radius: 15px 0 0 15px;
	background-color: var(--lightgrey)
}

#search {
	width:200px;
	height: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 15px;
	border: solid 1px var(--lightgrey);
	padding-left: 15px;
}

::placeholder {
	color: black;
}

#search:focus {
	border-color:var(--blue);
	outline: var(--blue);
}

.button {
	width: 135px;
	height: 50px;
	background-color: var(--blue);
	border-radius: 0 15px 15px 0;
	color: var(--lightgrey);
	border: none;
	font-family: 'Raleway', sans-serif;
	font-size:15px
}
/*search's filters*/
.filters {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 0 20px 0;
}

.filters form {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.filters label {
	display: flex;
	flex-direction: row;
	border: solid 2px;
	border-radius: 50px;
	border-color: var(--lightgrey);
	height: 50px;
	cursor: pointer;
}

.filter_icon {
	color: var(--blue);
	border-radius: 50px;
    font-size: 16px;
    width: 50px;
	padding: 17px 0 17px 0;
	text-align:center;
	background-color: var(--lightblue);
	z-index: auto;
}

.filter_name {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: bolder;
	padding: 10px 15px 10px 10px;
	z-index: auto;
}

.filters input[type="checkbox"] {
	display: flex;
	position: relative;
	height: 50px;
	width: 160px;
	margin-right: -160px;
	margin-left: 40px;
	z-index: 1;
	opacity: 0.1;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
}

.filters input[type="checkbox"]:checked + label .filter_icon{
	color: var(--lightblue);
	border-color: var(--lightblue);
	background-color: var(--blue);
}

.filters input[type="checkbox"]:checked + label {
	color: var(--blue);
	border-color: var(--lightblue);
	background-color: var(--lightblue);
}

.filters input[type="checkbox"]:checked + label {
	color: var(--blue);
	border-color: var(--lightblue);
	background-color: var(--lightblue);
}

.filters label:hover  {
	border:0.1px solid var(--blue);
	background-color: var(--lightblue);
}

.info
{
    display: flex;
    align-items: center;
}

.info .fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    padding: 5px;
    color: var(--color2);
    font-size: .8rem;
    border: 1px solid var(--lightgrey);
    border-radius: 15px;
}

main {
	margin: 0 50px 20px 50px;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
}
/*******************************************************************************************/
/***************************section of lodgings in Marseilles*******************************/
.lodging {
	display:flex;
	flex-flow: column wrap;
	width: 815px;
	height: 605px;
	padding: 30 10 10 10;
	background-color: var(--lightgrey);
	border-radius: 20px;
	margin-right: 20px;
}

.lodging h2 {
	text-align: start;
	margin: 40px 0 0 40px;
	font-size: 20px;
}

.lodging_cards {
	display: flex;
	flex-flow: column wrap;
	height: 450px;
	width: 769px;
	margin: 0px 20px 0px 20px;
}

.lodging_card {
	width: 220px;
	height: 185px;
	border-radius: var(--radius);
	border: solid 4px #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
	margin:15px;
}

.lodging .img {
	border-radius: var(--radius2);
	height: 115px;
	width: 100%;
}

.img_cannebière {
	background-image: url(pictures/lodging/auberge_la_cannebiere.jpg);
}

.img_mer {
	background-image: url(pictures/lodging/hotel_de_la_mer.jpg);
}

.img_port {
	background-image: url(pictures/lodging/hotel_du_port.jpg);
}

.img_panier {
	background-image: url(pictures/lodging/auberge_le_panier.jpg);
}

.img_mouette {
	background-image: url(pictures/lodging/hotel_les_mouettes.jpg);
}

.img_amina {
	background-image: url(pictures/lodging/hotel_chez_anima.jpg);
}

.lodging h3, .lodging p {
	margin:5px 0 5px 0;
	color: black;
}

.lodging h3, .lodging p, .grade {
	margin-left: 10px;
}

.lodging i {
	margin: 0;
	font-size: 13px;
}

.star_blue {
	color:var(--blue)
}

.star_grey {
	color: var(--lightgrey)
}

.show_more {
	margin: 20px 0 0 40px;
	font-weight: bolder;
	align-self: flex-start;
}

.lodging .show_more:hover {
	color: var(--blue);
}
/****************************************************************************************/
/*****************************Section of The most popular********************************/
.best_lodgings {
	display:flex;
	flex-direction: column;
	width: 385px;
	height: 605px;
	background-color: var(--lightgrey);
	border-radius: 20px;
}

.best_lodging_title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.best_lodgings h2 {
	margin-bottom: 0px;
	font-size: 20px;
}

.best_lodging_cards {
	display: flex;
	flex-direction: column;
	margin: 0px 20px 20px 20px;
}

.best_lodging_card {
	display: flex;
	height: 135px;
	width: 305px;
	border-radius: var(--radius);
	border:solid 4px #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
	margin: 15px;
}
 .best_lodgings a {
	 display: flex;
	 flex-direction: row;
 }

.img_best_lodging {
	border-radius: var(--radius) 0 0 var(--radius);
	height:100%;
	width: 126px;
}

.information {
	width: 170px;
	height: 135px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}
.best_lodgings h3, .best_lodgings p {
	margin:5px 20px 5px 0px;
	color: black;
	width: 160px;
}

.best_lodgings h3, .best_lodgings p, .grades {
	margin-left: 15px;
}

.best_lodgings .grades {
	margin: 30px 0 0 15px;
	font-size: 13px;
}

.img_soleil {
	background-image: url(pictures/lodging/hotel_le_soleil_du_matin.jpg);
}

.img_coeur {
	background-image: url(pictures/lodging/au_coeur_de_l_eau.jpg);
}

.img_bleu {
	background-image: url(pictures/lodging/hotel_tout_bleu_et_blanc.jpg);
}
/********************************************************************************************/
/**************************Section of activities in Marseilles*******************************/
.activities {
	width: 100%;
	height: 500;
	display:flex;
	flex-flow: column wrap;
	margin: 40px 0 50px 0;
}

.activities_cards {
	display:flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 430px;
	width: 100%;
}

.activities h3 {
	margin: 15px 0 0 15px;
}

.activity_card {
	border-radius: var(--radius);
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
}

.img_activity {
	border-radius: var(--radius2);
}

.activity_vieux_port {
	height:430px;
	width: 275px;
}

.img_vieux_port {
	background-image: url(pictures/activities/vieux_port.jpg);
	width: 100%;
	height: 380px;
	background-size: cover;
	background-position: top;
}

.activity_fort {
	height:215px;
	width: 280px;
	margin-bottom: 40px;
}

.img_fort {
	background-image: url(pictures/activities/fort_de_pomegues.jpg);
	width: 100%;
	height: 165px;
	background-size: cover;
	background-position: bottom 265px center;
}

.activity_iles {
	height: 175px;
	width: 280px;
}

.img_iles {
	background-image: url(pictures/activities/iles_du_frioul.jpg);
	width: 100%;
	height: 125px;
	background-size: cover;
}

.activity_parc_national {
	height:430px;
	width: 280px;
}

.img_parc_national {
	background-image: url(pictures/activities/parc_national_des_calanques.jpg);
	width: 100%;
	height: 380px;
	background-size: cover;
	background-position: center;
}

.activity_notre_dame {
	height:190px;
	width: 280px;
	margin-bottom: 40px;
}

.img_notre_dame {
	background-image: url(pictures/activities/notre_dame_de_la_garde.jpg);
	width: 100%;
	height: 140px;
	background-size: cover;
}

.activity_parc_longchamp {
	height:200px;
	width: 280px;
}

.img_parc_longchamp {
	background-image: url(pictures/activities/parc_longchamp.jpg);
	width: 100%;
	height: 150px;
	background-size: cover;
}
/****************************************************************************************/
/*******************************************Footer***************************************/
footer {
	display:flex;
	flex-direction: row;
	height: 216px;
	background-color: var(--lightgrey);
}

.column_footer a:hover {
	color: var(--blue);
}

footer h3 {
	margin-bottom: 15px;
}

footer ul {
	list-style: none;
	padding: 0;
}

.column_footer {
	padding: 30px 0 0 50px;
	margin-right: 200px;
}

.column_footer li {
	padding: 0 0 15px 0;
	font-size: 14px;
}
/************************************************************************************************************/
/********************************************Média Queries***************************************************/
@media only screen and (max-width: 480px)
{
	html {
		-webkit-overflow-x: hidden;
		overflow-x: hidden;
	  }
	body {
		-webkit-overflow-x: hidden;
		overflow-x: hidden;
	  }
	#container {
		width: 100%;
		margin: auto;
		padding: auto;
	}

	.logo {
		margin: 25px 0 0 0;
		position: absolute;
	  }

	  .
	.menu {
		width: 100%;
		padding-left: 0;
		margin-right: 0;
		border-bottom: solid 2.5px var(--lightgrey);
		padding-bottom: 15px;
	  }
	.signup {
		text-align: center;
		order:-1;
		width: 100%;
		padding-bottom: 15px;
		padding-top: 25px;
	  }
	.menu:hover {
		border-bottom: solid 2.5px var(--blue);
		border-top: none;
		padding-bottom: 10px;
	  }
	.signup {
		margin-right: 25px;
	  }

	.signup:hover {
		color: var(--lightblue);
	}

	.filters {
		flex-direction: column;
	}

	.filters form {
		flex-wrap: wrap;
	}

	main {
		flex-direction: column;
		width: 100%;
		margin:0;
	}
	.lodging {
		width: 100%;
		height: initial;
		background-color: initial;
		margin: 0;
	}

	.lodging_cards {
		width: 100%;
		flex-direction: column;
		align-items: center;
		height: initial;
		margin: 0;
	}

	.lodging_card {
		width: 85%;
		height:200px;
		margin: 0 0 20px 0;
	}

	.best_lodgings {
		width: 100%;
		order: -1;
		align-items: center;
		height: initial;
		border-radius: initial;
		margin: 0;
	}

	.best_lodging_title {
		justify-content: space-around;
		align-items: stretch;
		align-content: center;
	}

	.best_lodging_cards {
		width: 85%;
		height: initial;
		align-items: center;
		margin: 0;
	}

	.best_lodging_card {
		width: 100%;
		margin: 0 0 20px 0;
	}
	
	.activities {
		width: 100%;
		margin: 0;
		align-items: center;
		height: initial;
	}

	.activities_cards {
		flex-direction: column;
		width: 100%;
		align-content: center;
		height: initial;
		margin: 0;
	}
	.activity_vieux_port, .activity_fort, .activity_iles, .activity_parc_national, .activity_notre_dame, .activity_parc_longchamp {
		width: 85%;
		height: 192px;
		margin: 0 0 20px 0;
	}

	.img_vieux_port, .img_fort, .img_iles, .img_parc_national, .img_notre_dame, .img_parc_longchamp {
		height:134px;
		width: 100%;
	}

	footer {
		flex-direction: column;
		width: 100%;
		height: initial;
		padding-top: 30px;
	}
	.column_footer {
		margin: 0 0 0 20px;
		padding: 0;
	}
}





