body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}
#container {
	width: 100%;
}
header {
	display: flex;
	justify-content: space-between;
}
#logo {
	width: 100px;
	padding: 35px 0 0 50px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
	display: flex;
}
nav li, nav a {
	list-style: none;
}
.menu a {
	padding: 38px 34px 0 34px;
	text-decoration: none;
	color: black;
}
.menu a:hover {
	color:  #0065FC;
	border-top: solid 2px #0065FC;
}
.inscrire {
	color: #0065FC;
	font-weight: bold;
	padding: 37px 78px 0 34px;
	text-decoration: none;
}
footer {
	display:flex;
	flex-direction: row;
	height: 216px;
	background-color: #F2F2F2;
}
footer ul {
	list-style: none;
	padding: 0;
}
.colonne_footer {
	padding: 30px 150px 0 50px;
}
.colonne_footer a {
	color: black;
	text-decoration: none;
}
.colonne_footer li {
	padding: 0 0 15px 0;
}